<!DOCTYPE html>
<head>
</head>
<body>
<div> Welcome {{user}} !!!</div>
<div id="result"></div>
<h3> Feed </h3>
<ul class="feed">
  {{#each feed}}
    <li>
    user : {{user_id}} <br>
    message: {{feed_message}}
    time: {{created_at}}
    email: {{email}}
    </li>
  {{/each}}
</ul>

<h3> New Feed </h3>
<form action="/feed" method="POST">
  <input type="text" id="newFeedPost" placeholder="feedItem" name="feed_message">
  <button type="submit" onclick="addPost()">Submit</button>
</form>
</body>
<script type="text/javascript">
  function addPost() {
    var newPost = $('#newFeedPost').value;
    request = $.ajax({
        url: "/feed",
        type: "post",
       data: {
        feed_message: newPost,
        user: currentUser
      }
    });
    request.done(function (response, textStatus, jqXHR){
        console.log("completed "+response);
    });

    request.fail(function (){
       $("#result").html('There is error while submit');
     });
}
</script>